*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --colorSecondary: #efecf5;
}
body, html{
    height: 100%;
}

body{
    margin: 0;
    background: #ccc;
}

.wrapper{
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
}

.container{
    padding: 30px 20px;
}
.container--grayborder-r{
    border-right: 2px solid #ccc;
}

/* aside */
aside{
    width: 200px;
    background-color: var(--colorSecondary);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;

}

.aside{
    display: flex;
    flex-direction: column;
    position: relative;
}

.aside__help{
    background-color: rgb(221, 212, 235);
    height: auto;
    aspect-ratio: 0.75;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}






/* main */

        /* header  */
main{
    width: calc(100% - 200px);
}

.main__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorSecondary);
    padding-bottom: 120px;
}

.main__search{
    background-color: #fff;
    display: flex;
    padding-left: .5rem;
    align-items: center;
    border-radius: 4px;
}
.main__search i{
   font-size: 1.5rem;
   color: #bebebe;
}
.main__search input{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 1rem;
}
.main__search input::placeholder{
    font-weight: 800;
}
.button-icon{
    background: none;
    border: none;
    font-size: 1.75rem;
    cursor: pointer;
}
.button-icon:hover{
    color: #4c39c7;
}

.links *:not(:last-child){
    margin-right: 2rem;
}
.link{
    color: #a0a1aa;
}

.link--bold{
    font-weight: 600;
}
.link--medium{
    font-size: 1.5rem;
}


.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user__greetings{
    margin-right: 1rem;
}
.avatar{
    width: 35px;
    height: 35px;
    background-color: orange;
    border-radius: 7px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}







        /*article  */
.bankcards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: -120px;
    padding-bottom: 30px;
}

.bankcards__card{
    border-radius: 10px;
    width: calc(33% - 3%);
    height: auto;
    aspect-ratio: 2/1;
    box-shadow: rgba(100, 100, 111, 0.075) 0px 7px 29px 0px;
}



.transactions--borders{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.transactions{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: space-between;
    padding: 20px 0;
}
.transactions__graphik{
    width: calc(33% - 3%);
    height: 70px;
    background-color: #ccc;
}













/* modificators */

.col-blue{
    background-color: rgb(185, 199, 218);
}
.col-yellow{
    background-color: rgb(235, 221, 208);
    
}
.col-green{
    background-color: rgb(189, 218, 185);
    
}

